<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:c="http://www.springframework.org/schema/c"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    					http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

	
	
	<util:list list-class="java.util.LinkedList" id="list1" >
	
		<value>abc</value>
		<value>efg</value>
		<value>XYZ</value>
	
	</util:list>
	
	<util:set set-class="java.util.HashSet" id="set1" >
	
		<value>1000000</value>
		<value>2000000</value>
		<value>3000000</value>
	
	</util:set>
	
	
	<bean class="com.StandaloneCollection.Books" name="b1" >
		<property name="Bname" ref="list1"></property>
		<property name="Bprice" ref="set1"></property>
	</bean>
	
	<bean class="com.StandaloneCollection.Books" name="b2">
		<property name="Bname" ref="list1" ></property>
		<property name="Bprice" ref="set1"></property>
	</bean>



</beans>